# Proyecto clasificacion de noticias

In [1]:
import pandas as pd
import numpy as np

## Leer DataFrame

In [2]:
df=pd.read_json('datos.json', lines=True)
df

,category,headline,authors,link,short_description,date
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,She left her husband. He killed their children...,2018-05-26
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,Of course it has a song.,2018-05-26
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,https://www.huffingtonpost.com/entry/hugh-gran...,The actor and his longtime girlfriend Anna Ebe...,2018-05-26
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,https://www.huffingtonpost.com/entry/jim-carre...,The actor gives Dems an ass-kicking for not fi...,2018-05-26
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,https://www.huffingtonpost.com/entry/julianna-...,"The ""Dietland"" actress said using the bags is ...",2018-05-26
...,...,...,...,...,...,...
200848,TECH,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,"Reuters, Reuters",https://www.huffingtonpost.com/entry/rim-ceo-t...,Verizon Wireless and AT&T are already promotin...,2012-01-28
200849,SPORTS,Maria Sharapova Stunned By Victoria Azarenka I...,,https://www.huffingtonpost.com/entry/maria-sha...,"Afterward, Azarenka, more effusive with the pr...",2012-01-28
200850,SPORTS,"Giants Over Patriots, Jets Over Colts Among M...",,https://www.huffingtonpost.com/entry/super-bow...,"Leading up to Super Bowl XLVI, the most talked...",2012-01-28
200851,SPORTS,Aldon Smith Arrested: 49ers Linebacker Busted ...,,https://www.huffingtonpost.com/entry/aldon-smi...,CORRECTION: An earlier version of this story i...,2012-01-28
200852,SPORTS,Dwight Howard Rips Teammates After Magic Loss ...,,https://www.huffingtonpost.com/entry/dwight-ho...,The five-time all-star center tore into his te...,2012-01-28

In [3]:
df.describe()

C:\Users\szilom_2\AppData\Local\Temp/ipykernel_6568/3627053830.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe()

,category,headline,authors,link,short_description,date
count,200853,200853,200853,200853,200853,200853
unique,41,199344,27993,200812,178353,2309
top,POLITICS,Sunday Roundup,,https://www.huffingtonpost.comhttps://www.wash...,,2012-12-21 00:00:00
freq,32739,90,36620,2,19712,100
first,NaN,NaN,NaN,NaN,NaN,2012-01-28 00:00:00
last,NaN,NaN,NaN,NaN,NaN,2018-05-26 00:00:00

## Preparar los datos 
- Selección de columnas a usar (categoria, short_description)
- Verificar existencia de valores Nulos
- Verificar existencia de cadenas vacias
- Eliminar en caso de exixtir cadenas vacias
- Balancear Dataset

## - Selección de columnas a usar (categoria, short_description)

In [4]:
df1 = df.iloc[:,[0,4]]
df1

             category                                  short_description
0               CRIME  She left her husband. He killed their children...
1       ENTERTAINMENT                           Of course it has a song.
2       ENTERTAINMENT  The actor and his longtime girlfriend Anna Ebe...
3       ENTERTAINMENT  The actor gives Dems an ass-kicking for not fi...
4       ENTERTAINMENT  The "Dietland" actress said using the bags is ...
...               ...                                                ...
200848           TECH  Verizon Wireless and AT&T are already promotin...
200849         SPORTS  Afterward, Azarenka, more effusive with the pr...
200850         SPORTS  Leading up to Super Bowl XLVI, the most talked...
200851         SPORTS  CORRECTION: An earlier version of this story i...
200852         SPORTS  The five-time all-star center tore into his te...

[200853 rows x 2 columns]

## Verificar existencia de valores Nulos

In [5]:
df1.isnull().sum()

category             0
short_description    0
dtype: int64

## Verificar existencia de cadenas vacias

In [6]:
df_cadenavacia=df1['short_description']==''
df_cadenavacia

0         False
1         False
2         False
3         False
4         False
          ...
200848    False
200849    False
200850    False
200851    False
200852    False
Name: short_description, Length: 200853, dtype: bool

In [7]:
df1[df_cadenavacia]

              category short_description
12099           COMEDY
12849       WORLD NEWS
14119       WORLD NEWS
23549            TASTE
25814           COMEDY
...                ...               ...
198250    QUEER VOICES
198265     ENVIRONMENT
200129          IMPACT
200191    QUEER VOICES
200266  STYLE & BEAUTY

[19712 rows x 2 columns]

## Eliminar en caso de existir cadenas vacias

In [8]:
df_sinCadenasVacias=df1.drop(df1[df1["short_description"]==""].index)
df_sinCadenasVacias

             category                                  short_description
0               CRIME  She left her husband. He killed their children...
1       ENTERTAINMENT                           Of course it has a song.
2       ENTERTAINMENT  The actor and his longtime girlfriend Anna Ebe...
3       ENTERTAINMENT  The actor gives Dems an ass-kicking for not fi...
4       ENTERTAINMENT  The "Dietland" actress said using the bags is ...
...               ...                                                ...
200848           TECH  Verizon Wireless and AT&T are already promotin...
200849         SPORTS  Afterward, Azarenka, more effusive with the pr...
200850         SPORTS  Leading up to Super Bowl XLVI, the most talked...
200851         SPORTS  CORRECTION: An earlier version of this story i...
200852         SPORTS  The five-time all-star center tore into his te...

[181141 rows x 2 columns]

In [9]:
dfp=df_sinCadenasVacias['short_description']==''
df_sinCadenasVacias[dfp]

Empty DataFrame
Columns: [category, short_description]
Index: []

## Balancear Dataset

In [10]:
df_sinCadenasVacias.value_counts('category')

category
POLITICS          29578
WELLNESS          17825
ENTERTAINMENT     13470
STYLE & BEAUTY     9637
TRAVEL             9408
PARENTING          8676
FOOD & DRINK       6217
QUEER VOICES       5570
HEALTHY LIVING     5265
BUSINESS           5077
COMEDY             4417
SPORTS             4221
HOME & LIVING      4192
BLACK VOICES       4122
THE WORLDPOST      3664
WEDDINGS           3651
PARENTS            3556
DIVORCE            3426
WOMEN              3102
IMPACT             3061
CRIME              2675
MEDIA              2275
WEIRD NEWS         2209
WORLD NEWS         2175
TECH               2081
GREEN              2046
TASTE              1940
RELIGION           1858
SCIENCE            1775
MONEY              1706
STYLE              1567
ARTS & CULTURE     1339
ENVIRONMENT        1321
WORLDPOST          1242
FIFTY              1042
GOOD NEWS          1039
LATINO VOICES      1021
CULTURE & ARTS     1019
COLLEGE             921
EDUCATION           892
ARTS                863
dtype: int64

In [11]:
from imblearn.under_sampling import RandomUnderSampler
rus = RandomUnderSampler(random_state=0)
df_balanceado, df_balanceado['category']=rus.fit_resample(df_sinCadenasVacias[['short_description']],df_sinCadenasVacias['category'])
df_balanceado

                                       short_description   category
0      One could possibly think that the Dallas-Fort ...       ARTS
1      The conversation between Colm Tóibín and Richa...       ARTS
2      Mozart has yielded some incredible insights ab...       ARTS
3      American artist Jeff Koons (York, Pennsylvania...       ARTS
4      Born in New Zealand and now living in Australi...       ARTS
...                                                  ...        ...
35378  People keep asking me what I think about Europ...  WORLDPOST
35379  The proliferation of Man-Portable Air Defense ...  WORLDPOST
35380  Courtesy of Malaysia Airlines Flight 17, Putin...  WORLDPOST
35381  ROME -- "Welcome, this is a house for all. You...  WORLDPOST
35382  While peace talks are frozen, settlement expan...  WORLDPOST

[35383 rows x 2 columns]

In [12]:
df_balanceado.value_counts('category')

category
ARTS              863
MONEY             863
PARENTS           863
POLITICS          863
QUEER VOICES      863
RELIGION          863
SCIENCE           863
SPORTS            863
STYLE             863
STYLE & BEAUTY    863
TASTE             863
TECH              863
THE WORLDPOST     863
TRAVEL            863
WEDDINGS          863
WEIRD NEWS        863
WELLNESS          863
WOMEN             863
WORLD NEWS        863
PARENTING         863
MEDIA             863
ARTS & CULTURE    863
LATINO VOICES     863
BLACK VOICES      863
BUSINESS          863
COLLEGE           863
COMEDY            863
CRIME             863
CULTURE & ARTS    863
DIVORCE           863
EDUCATION         863
ENTERTAINMENT     863
ENVIRONMENT       863
FIFTY             863
FOOD & DRINK      863
GOOD NEWS         863
GREEN             863
HEALTHY LIVING    863
HOME & LIVING     863
IMPACT            863
WORLDPOST         863
dtype: int64

### Guardar Dataset tratado

In [13]:
df_balanceado.to_json('df_Balanceado_Guardado.json' )

## Train set y Test set

In [14]:
X = df_balanceado.iloc[:,0]
y = df_balanceado.iloc[:,1].values

In [15]:
print(X.head())
print('-----------------------')
print(y)

0    One could possibly think that the Dallas-Fort ...
1    The conversation between Colm Tóibín and Richa...
2    Mozart has yielded some incredible insights ab...
3    American artist Jeff Koons (York, Pennsylvania...
4    Born in New Zealand and now living in Australi...
Name: short_description, dtype: object
-----------------------
['ARTS' 'ARTS' 'ARTS' ... 'WORLDPOST' 'WORLDPOST' 'WORLDPOST']

In [16]:
#Obtener el conjunto de entrenamiento y de prueba
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [17]:
print('Numero de registros X_train:',X_train.shape)
print('Numero de registros X_test:',X_test.shape)

Numero de registros X_train: (28306,)
Numero de registros X_test: (7077,)

## TfidfVectorizer (TF-IDF(Frecuencia de Término – Frecuencia Inversa de Documento))
- Obtener las frecuencias de cada palabra, tokenizar, obtener la bolsa de palabras, le da mayor importancia a las palabras que no aparecen en el resto de los registros, se eliminan los stops words

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')
X_train_numeros=tfidf.fit_transform(X_train)
X_test_numeros = tfidf.transform(X_test)

In [19]:
tfidf.vocabulary_

{'week': 33572,
 'brought': 4469,
 'big': 3493,
 'headlines': 14197,
 'extreme': 11167,
 'weather': 33541,
 'news': 20962,
 'forest': 12189,
 'service': 27611,
 'said': 26779,
 'massive': 19087,
 'yosemite': 34339,
 'rim': 26235,
 'understand': 32248,
 'hardly': 14027,
 'better': 3422,
 'watch': 33468,
 'cbs': 5345,
 'anchor': 1657,
 'bob': 3871,
 'schieffer': 27144,
 'country': 7324,
 'club': 6180,
 'invocation': 16156,
 'israeli': 16286,
 'prime': 24033,
 'minister': 19828,
 'golda': 13224,
 'meir': 19405,
 'suggest': 29940,
 'palestinians': 22261,
 'forcing': 12154,
 'israel': 16285,
 'kill': 17077,
 'children': 5761,
 'quick': 24679,
 'easy': 9896,
 'riff': 26203,
 'spinach': 29041,
 'ricotta': 26181,
 'cannelloni': 4978,
 'great': 13468,
 'way': 33505,
 'sneak': 28567,
 'greens': 13497,
 'despite': 8614,
 '38': 378,
 'weeks': 33579,
 'megan': 19394,
 'hershfield': 14419,
 'going': 13220,
 'stay': 29385,
 'home': 14659,
 'accord': 811,
 'shows': 28003,
 'humans': 14980,
 'transcend': 31546,
 'narrow': 20679,
 'national': 20708,
 'interests': 15980,
 'start': 29333,
 'quarter': 24641,
 'crowd': 7617,
 'thinned': 30996,
 'dan': 7936,
 'steinberg': 29425,
 'dc': 8056,
 'sports': 29122,
 'bog': 3908,
 'tweeted': 31974,
 'donald': 9385,
 'trump': 31821,
 'republican': 25778,
 'runner': 26659,
 'presidential': 23955,
 'nomination': 21148,
 'met': 19569,
 'washington': 33457,
 'post': 23688,
 'editorial': 9983,
 'board': 3853,
 'activity': 909,
 'intensified': 15948,
 'past': 22513,
 'united': 32398,
 'nations': 20715,
 'respect': 25890,
 'deteriorating': 8663,
 'situation': 28254,
 'yemen': 34283,
 'amid': 1590,
 'evidence': 10840,
 'rift': 26206,
 'future': 12602,
 'traditional': 31493,
 'gulf': 13706,
 'allies': 1442,
 'jeffrey': 16484,
 'hayzlett': 14168,
 'host': 14825,
 'executive': 10947,
 'perspectives': 22911,
 'suite': 29956,
 'tv': 31962,
 'uncovers': 32190,
 'secrets': 27393,
 'entrepreneurs': 10523,
 'executives': 10948,
 'use': 32694,
 'build': 4577,
 'empires': 10285,
 'scientists': 27204,
 'want': 33397,
 'know': 17204,
 'green': 13480,
 'hue': 14932,
 'certain': 5452,
 'times': 31185,
 'year': 34257,
 've': 32861,
 'breast': 4291,
 'cancer': 4952,
 'warrior': 33440,
 'months': 20182,
 'chemo': 5689,
 'surgery': 30133,
 'radiation': 24769,
 'hormone': 14790,
 'therapy': 30964,
 'corner': 7200,
 'battalion': 3067,
 'loving': 18416,
 'brilliant': 4378,
 'powerful': 23764,
 'hilarious': 14498,
 'soldiers': 28715,
 'journey': 16672,
 'thriving': 31061,
 'just': 16782,
 'surviving': 30173,
 'evicted': 10838,
 'stadium': 29249,
 'dulwich': 9737,
 'hamlet': 13891,
 '125': 61,
 'old': 21599,
 'soccer': 28656,
 'strong': 29736,
 'community': 6531,
 'ties': 31139,
 'standing': 29300,
 'firm': 11821,
 'culture': 7731,
 'decided': 8144,
 'arbitrarily': 2001,
 'comfortable': 6446,
 'making': 18711,
 'dogs': 9325,
 'cats': 5301,
 'pets': 22967,
 'pigs': 23155,
 'fish': 11830,
 'dinner': 8878,
 'carol': 5146,
 'bartz': 2999,
 'fired': 11805,
 'chief': 5747,
 'yahoo': 34206,
 'yhoo': 34298,
 '20': 249,
 'september': 27566,
 'wishes': 33916,
 'did': 8797,
 'thing': 30986,
 'differently': 8824,
 'beaming': 3117,
 'excitement': 10918,
 'hugely': 14946,
 'passionate': 22502,
 'work': 34029,
 'fifth': 11688,
 'season': 27360,
 'lane': 17504,
 'speaks': 28938,
 'free': 12366,
 'son': 28763,
 'years': 34265,
 'relationship': 25527,
 'mother': 20283,
 'divorced': 9250,
 'time': 31176,
 'pick': 23108,
 'runs': 26663,
 'sort': 28811,
 'avoids': 2576,
 'shouldn': 27977,
 'mom': 20096,
 'helping': 14346,
 'instead': 15873,
 'doing': 9329,
 'complaining': 6584,
 'gay': 12798,
 'traveler': 31630,
 'bureau': 4659,
 'consular': 6936,
 'affairs': 1113,
 'sure': 30116,
 'citizens': 5962,
 'access': 777,
 'accurate': 836,
 'current': 7778,
 'lgbt': 17927,
 'specific': 28955,
 'information': 15703,
 'planning': 23304,
 'overseas': 22093,
 'travel': 31628,
 'glenda': 13119,
 'estell': 10722,
 '54': 453,
 'derrick': 8560,
 'planned': 23301,
 'july': 16745,
 '28': 327,
 'escape': 10674,
 'garland': 12738,
 'county': 7330,
 'jail': 16374,
 'phone': 23050,
 'calls': 4891,
 'incorporating': 15515,
 'datebook': 8014,
 'half': 13853,
 'creativity': 7486,
 'notebook': 21241,
 '52': 446,
 'calendar': 4863,
 'section': 27396,
 'involves': 16166,
 'simple': 28167,
 'binder': 3535,
 'strict': 29703,
 'sexual': 27666,
 'monogamy': 20149,
 'property': 24254,
 'rights': 26218,
 'erotic': 10647,
 'pleasure': 23371,
 'served': 27607,
 'pretty': 23987,
 'thousands': 31034,
 'exactly': 10870,
 'natural': 20722,
 'main': 18673,
 'reasons': 25100,
 'sustained': 30201,
 'economic': 9938,
 'recovery': 25239,
 'stimulus': 29518,
 'derived': 8554,
 'decline': 8163,
 'rates': 24969,
 'accrued': 830,
 'economy': 9946,
 'election': 10096,
 'embarked': 10206,
 'transition': 31577,
 'democracy': 8401,
 'talking': 30498,
 'stainless': 29266,
 'kitchen': 17140,
 'improvise': 15425,
 'reddit': 25269,
 'user': 32699,
 'nickemjay': 21021,
 'pointed': 23470,
 'using': 32706,
 'literally': 18149,
 'hundreds': 15006,
 'grateful': 13437,
 'busy': 4741,
 'life': 17983,
 'forget': 12197,
 'end': 10354,
 'spectrum': 28975,
 'taking': 30478,
 'things': 30987,
 'granted': 13412,
 'group': 13609,
 'likely': 18031,
 'feel': 11528,
 'voters': 33242,
 'huffpost': 14940,
 'traveled': 31629,
 'nigeria': 21049,
 'congo': 6807,
 'document': 9296,
 'fight': 11692,
 'preventable': 23997,
 'disease': 9016,
 'unheeded': 32352,
 'evacuation': 10799,
 'warnings': 33432,
 'late': 17567,
 'emergency': 10242,
 'alerts': 1368,
 'area': 2044,
 'primed': 24034,
 'flooding': 11978,
 'wildfires': 33807,
 'factors': 11251,
 'boston': 4087,
 'dec': 8122,
 '22': 291,
 'reuters': 26028,
 'man': 18776,
 'lent': 17841,
 'convicted': 7089,
 'marathon': 18895,
 'bomber': 3956,
 'gun': 13718,
 'used': 32695,
 'police': 23502,
 'officer': 21548,
 'thompson': 31010,
 'spirits': 29060,
 'firmly': 11824,
 'established': 10712,
 'safe': 26753,
 'celiac': 5393,
 'drink': 9617,
 '1988': 233,
 'canadian': 4941,
 'world': 34054,
 'festival': 11614,
 'faiths': 11294,
 'held': 14320,
 'louisville': 18393,
 'ky': 17361,
 'november': 21280,
 '1995': 242,
 'approaching': 1950,
 '20th': 282,
 'anniversary': 1745,
 'highly': 14481,
 'successful': 29894,
 'internationally': 16012,
 'acclaimed': 792,
 'emulated': 10307,
 'neighboring': 20852,
 'city': 5969,
 'indianapolis': 15562,
 'reilly': 25465,
 'doubled': 9459,
 'despicable': 8613,
 'claim': 5984,
 'mass': 19077,
 'shootings': 27938,
 'price': 24011,
 'freedom': 12371,
 'wrong': 34146,
 'new': 20949,
 'yorkers': 34333,
 'don': 9383,
 'agree': 1216,
 '68': 503,
 'percent': 22790,
 'rent': 25672,
 'homes': 14681,
 'apartments': 1856,
 'usually': 32711,
 'common': 6512,
 'cause': 5313,
 'issue': 16291,
 'pay': 22622,
 'month': 20180,
 'perennial': 22802,
 'political': 23519,
 'candidate': 4958,
 'says': 27054,
 'damn': 7927,
 'high': 14472,
 'dear': 8086,
 'teacher': 30665,
 'colleagues': 6338,
 'hope': 14763,
 'enjoying': 10435,
 'relaxing': 25536,
 'break': 4277,
 'heading': 14193,
 'school': 27167,
 'little': 18164,
 'friday': 12421,
 'night': 21053,
 'jimmy': 16569,
 'fallon': 11312,
 'penned': 22763,
 'batch': 3047,
 'thank': 30905,
 'notes': 21244,
 'people': 22777,
 'appreciated': 1938,
 'sentiments': 27550,
 'realities': 25066,
 'shared': 27763,
 'publicly': 24442,
 'setting': 27627,
 'history': 14564,
 'elitism': 10156,
 'privilege': 24083,
 'power': 23761,
 'deeply': 8220,
 'rooted': 26489,
 'providing': 24355,
 'nourishment': 21269,
 'protect': 24309,
 'baby': 2659,
 'getting': 12963,
 'sick': 28066,
 'feeding': 11526,
 'help': 14342,
 'lose': 18366,
 'weight': 33590,
 'plan': 23292,
 'eat': 9898,
 '2014': 267,
 'tell': 30753,
 'lot': 18374,
 'person': 22898,
 'happens': 13990,
 'steel': 29412,
 'meets': 19388,
 'president': 23954,
 'gold': 13223,
 'sun': 29997,
 'cruise': 7647,
 'resort': 25881,
 'yacht': 34201,
 'sits': 28250,
 'perched': 22799,
 'shores': 27950,
 'jeongdongjin': 16505,
 'south': 28853,
 'korean': 17252,
 'tourist': 31428,
 'town': 31448,
 'according': 813,
 'felt': 11562,
 'conflicted': 6780,
 'packed': 22184,
 '40': 385,
 'worth': 34082,
 'family': 11335,
 'possessions': 23682,
 'knew': 17179,
 'watching': 33472,
 'parents': 22402,
 'age': 1181,
 'lines': 18083,
 'denial': 8442,
 'moving': 20355,
 'need': 20810,
 'slaps': 28363,
 'awake': 2586,
 'reality': 25067,
 'wants': 33400,
 'prepared': 23913,
 'face': 11223,
 'sang': 26912,
 'happy': 13996,
 'birthday': 3582,
 'song': 28765,
 'thousand': 31033,
 'different': 8819,
 'names': 20632,
 'led': 17740,
 'killing': 17084,
 'walter': 33373,
 'scott': 27239,
 'white': 33721,
 'north': 21215,
 'charleston': 5594,
 'carolina': 5149,
 'indicative': 15569,
 'crisis': 7548,
 'created': 7478,
 'growing': 13617,
 'criminalization': 7534,
 'poverty': 23753,
 'america': 1578,
 'persistent': 22894,
 'humanization': 14975,
 'black': 3637,
 'fear': 11484,
 'beloved': 3295,
 'filipino': 11721,
 'food': 12113,
 'does': 9311,
 'hold': 14620,
 'walmart': 33366,
 'pack': 22177,
 'makes': 18706,
 'exciting': 10920,
 'phenomenon': 23014,
 'experienced': 11048,
 'dark': 7981,
 'cool': 7119,
 '13': 65,
 'letikiros': 17883,
 'walked': 33340,
 'door': 9418,
 'water': 33474,
 'came': 4910,
 'lifeless': 17987,
 'body': 3896,
 'swinging': 30303,
 'tree': 31665,
 'rope': 26492,
 'tied': 31134,
 'neck': 20800,
 'course': 7343,
 'good': 13255,
 'chemistry': 5687,
 'xiharmony': 34182,
 'happening': 13988,
 'think': 30989,
 'vegan': 32868,
 'baked': 2768,
 'goods': 13265,
 'quickbread': 24680,
 'game': 12691,
 'changer': 5537,
 'hint': 14532,
 'make': 18700,
 'house': 14860,
 'smell': 28499,
 'yummy': 34373,
 'reporter': 25740,
 'alicia': 1395,
 'acuna': 919,
 'widely': 33765,
 'eyewitness': 11195,
 'account': 817,
 'wasn': 33458,
 'mentioned': 19492,
 'conservative': 6881,
 'primetime': 24036,
 'broadcasts': 4416,
 'bus': 4712,
 'driver': 9628,
 'ariel': 2070,
 'castro': 5238,
 'indicted': 15573,
 '329': 351,
 'criminal': 7532,
 'counts': 7329,
 'connection': 6836,
 'imprisonment': 15414,
 'hateful': 14120,
 'groups': 13612,
 'chose': 5841,
 'movement': 20345,
 'order': 21793,
 'try': 31847,
 'gain': 12642,
 'form': 12213,
 'legitimacy': 17786,
 'dismissing': 9069,
 'action': 898,
 'reinstating': 25481,
 'phil': 23021,
 'robertson': 26351,
 'soon': 28783,
 'suspending': 30188,
 'duck': 9707,
 'dynasty': 9830,
 'say': 27049,
 'wins': 33880,
 'marriage': 19005,
 'equality': 10590,
 'look': 18327,
 'utah': 32713,
 'lights': 18016,
 'dimmed': 8868,
 'iconic': 15145,
 'monument': 20186,
 'solidarity': 28724,
 'catalonia': 5252,
 'mouths': 20342,
 'real': 25059,
 'struggle': 29750,
 'tricks': 31716,
 'language': 17509,
 'barriers': 2975,
 'today': 31256,
 'chinese': 5787,
 'site': 28245,
 'jifenzhong': 16553,
 'grub': 13625,
 'welling': 33618,
 'pizza': 23266,
 'twitter': 32006,
 'editors': 9985,
 'rounded': 26551,
 '17': 107,
 'brands': 4236,
 'caramel': 5060,
 'popcorns': 23601,
 'best': 3396,
 'technically': 30694,
 'corn': 7193,
 'quote': 24723,
 'day': 8040,
 'got': 13302,
 'thinking': 30992,
 'words': 34024,
 'oath': 21389,
 'tomorrow': 31307,
 'comes': 6440,
 'amidst': 1591,
 'reports': 25743,
 'attacks': 2390,
 'minority': 19843,
 'party': 22475,
 'garth': 12755,
 'right': 26211,
 'job': 16586,
 'tackle': 30417,
 'opioid': 21723,
 'noah': 21110,
 'luke': 18468,
 'kelly': 16971,
 'university': 32410,
 'melbourne': 19414,
 'eduard': 9993,
 'plana': 23293,
 'bach': 2666,
 'marc': 18902,
 'font': 12111,
 'bernet': 3376,
 'italy': 16304,
 'firefighters': 11807,
 'fixing': 11861,
 'rivers': 26300,
 'requires': 25801,
 'reintroduce': 25484,
 'complexity': 6603,
 'function': 12549,
 'restoration': 25929,
 'effectively': 10018,
 'reshaping': 25839,
 'environment': 10536,
 'chefs': 5679,
 'lee': 17747,
 'hanson': 13981,
 'riad': 26147,
 'nasr': 20690,
 'explain': 11065,
 'master': 19090,
 'potatoes': 23719,
 'identifying': 15169,
 'troubleshooting': 31790,
 'mistakes': 19947,
 'photo': 23055,
 'melissa': 19420,
 'schollaert': 27165,
 'style': 29803,
 'unveiled': 32582,
 'lover': 18411,
 'ly': 18533,
 'elaine': 10078,
 'palladino': 22268,
 'photography': 23066,
 'giving': 13076,
 'autonomy': 2527,
 'catholic': 5296,
 'bishops': 3601,
 'worse': 34071,
 'progressive': 24187,
 'catholics': 5298,
 'woman': 33977,
 'spent': 29007,
 'entire': 10505,
 'hawaiian': 14154,
 'vacation': 32739,
 'glued': 13167,
 'ipad': 16179,
 'scandal': 27077,
 'devices': 8713,
 'lack': 17406,
 'willpower': 33830,
 'forced': 12148,
 'digital': 8838,
 'detox': 8680,
 'hurricane': 15037,
 'recorded': 25226,
 'legally': 17770,
 'ethically': 10754,
 'multitude': 20442,
 'pertaining': 22917,
 'privacy': 24076,
 'student': 29766,
 'miss': 19923,
 'child': 5753,
 'rest': 25914,
 'incredibly': 15525,
 'difficult': 8828,
 'days': 8048,
 'long': 18306,
 'exhausting': 10971,
 'gone': 13247,
 'assigned': 2281,
 'summer': 29982,
 'reading': 25049,
 'entering': 10482,
 'college': 6352,
 'perfect': 22806,
 'catch': 5269,
 'enlightening': 10439,
 'summertime': 29985,
 'left': 17754,
 'oh': 21570,
 'boy': 4173,
 'internet': 16015,
 'providers': 24353,
 'hailed': 13820,
 'decision': 8151,
 'consumer': 6947,
 'advocates': 1091,
 'objected': 21412,
 'theater': 30923,
 'company': 6540,
 'artistic': 2174,
 'director': 8910,
 'looking': 18331,
 'produce': 24133,
 'evening': 10821,
 'knuckle': 17215,
 'drama': 9544,
 'small': 28477,
 'cast': 5229,
 'recommend': 25203,
 'sam': 26849,
 'leichter': 17802,
 'trilogy': 31732,
 'short': 27951,
 'plays': 23354,
 'strongly': 29740,
 'writing': 34143,
 'exquisite': 11123,
 'plotting': 23390,
 'meticulous': 19605,
 'characters': 5572,
 'unforgettable': 32334,
 'represents': 25757,
 'rapists': 24937,
 'definitely': 8274,
 'didn': 8800,
 'image': 15270,
 'gave': 12794,
 'low': 18418,
 'energy': 10395,
 'address': 957,
 'alongside': 1475,
 'mexican': 19621,
 'enrique': 10458,
 'peña': 22978,
 'nieto': 21042,
 'itriste': 16318,
 'tastes': 30607,
 'like': 18025,
 'rice': 26160,
 'poop': 23591,
 'drove': 9654,
 'boys': 4185,
 'neighborhood': 20850,
 'heard': 14225,
 'radio': 24776,
 'recall': 25140,
 'drive': 9625,
 'oust': 21926,
 'judge': 16706,
 'indoor': 15603,
 'mores': 20227,
 'live': 18173,
 'drumstick': 9676,
 'storm': 29593,
 'passing': 22500,
 'connected': 6832,
 'interwoven': 16059,
 'lives': 18181,
 'responsible': 25911,
 'daily': 7893,
 'survival': 30169,
 'hidden': 14459,
 'layers': 17655,
 'responsibility': 25910,
 'lies': 17981,
 'needs': 20821,
 'resurface': 25959,
 'disengage': 9022,
 'identity': 15171,
 'married': 19007,
 'straight': 29612,
 'outta': 22011,
 'compton': 6646,
 'continued': 7011,
 'rule': 26638,
 'box': 4165,
 'office': 21546,
 'weekend': 33574,
 'row': 26570,
 'holding': 14624,
 'spirited': 29059,
 'charge': 5578,
 'labute': 17396,
 'unfortunate': 32337,
 'script': 27291,
 'overall': 22022,
 'enjoyable': 10432,
 'light': 18004,
 'theatre': 30926,
 '75': 533,
 'minute': 19853,
 'runtime': 26664,
 'affordable': 1142,
 'marks': 18990,
 'jewish': 16546,
 'holiday': 14631,
 'passover': 22507,
 'tips': 31209,
 'observers': 21450,
 'celebrate': 5380,
 'important': 15388,
 'keeping': 16952,
 'line': 18074,
 'equally': 10592,
 'environmental': 10537,
 'values': 32791,
 'ceo': 5440,
 'father': 11438,
 'treated': 31656,
 'hospital': 14820,
 'described': 8570,
 'moderate': 20036,
 'injuries': 15767,
 'dishes': 9040,
 'point': 23468,
 'public': 24435,
 'comments': 6492,
 'protection': 24312,
 'agency': 1188,
 'epa': 10554,
 'proposed': 24271,
 'suspension': 30191,
 'methane': 19596,
 'closing': 6163,
 '59': 472,
 'inches': 15472,
 'rain': 24818,
 'atacama': 2341,
 'andes': 1667,
 'mountains': 20321,
 'northern': 21219,
 'chile': 5763,
 'driest': 9610,
 'place': 23273,
 'earth': 9877,
 'oldest': 21601,
 'desert': 8579,
 'million': 19766,
 'arab': 1985,
 'certainly': 5453,
 'emirati': 10256,
 'specifically': 28956,
 'rich': 26161,
 'encompasses': 10335,
 'music': 20504,
 'dance': 7938,
 'crafts': 7420,
 'arabs': 1992,
 'developed': 8700,
 'exported': 11102,
 'welcome': 33610,
 'nathan': 20705,
 'carman': 5132,
 'suspect': 30183,
 '2013': 266,
 'murder': 20471,
 'grandfather': 13395,
 'unsolved': 32531,
 'governments': 13325,
 'failure': 11270,
 'adequately': 969,
 'inform': 15701,
 'women': 33981,
 'girls': 13055,
 'menstruation': 19486,
 'enable': 10310,
 'menstrual': 19485,
 'hygiene': 15081,
 'management': 18780,
 'compromise': 6642,
 'non': 21153,
 'discrimination': 9006,
 'education': 9998,
 'health': 14215,
 'decent': 8137,
 'working': 34040,
 'conditions': 6727,
 'devoted': 8724,
 'dad': 7877,
 'went': 33631,
 'lengths': 17831,
 'ensure': 10471,
 'possible': 23685,
 'minions': 19826,
 'moviegoing': 20352,
 'experience': 11047,
 'eric': 10629,
 'garner': 12742,
 'share': 27759,
 'memories': 19453,
 'death': 8090,
 'lightest': 18008,
 'snow': 28605,
 'includes': 15487,
 'merely': 19521,
 'prediction': 23856,
 'accumulation': 834,
 'oa': 21380,
 'emotional': 10271,
 'spiritual': 29061,
 'humanistic': 14970,
 'doesn': 9312,
 'bunk': 4641,
 'freshen': 12405,
 'feed': 11523,
 'amazing': 1543,
 'accounts': 824,
 'members': 19435,
 'trusted': 31836,
 'behave': 3220,
 'pope': 23602,
 'francis': 12325,
 'capitol': 5030,
 'congressional': 6817,
 'leadership': 17689,
 'bank': 2864,
 'rolled': 26430,
 'remote': 25633,
 'deposit': 8521,
 'app': 1883,
 'banks': 2876,
 'including': 15488,
 'jp': 16689,
 'morgan': 20229,
 'chase': 5611,
 'citibank': 5957,
 'pnc': 23431,
 'shining': 27886,
 'path': 22550,
 'guerrillas': 13669,
 'took': 31328,
 'swipe': 30307,
 'money': 20130,
 'connections': 6837,
 'ready': 25053,
 'ninth': 21090,
 'travelers': 31631,
 'budget': 4557,
 'combination': 6418,
 'lingering': 18088,
 'sharp': 27778,
 'drop': 9644,
 'leisure': 17808,
 'lower': 18420,
 'flight': 11950,
 'prices': 24015,
 'smaller': 28478,
 'crowds': 7621,
 'hot': 14835,
 'spot': 29130,
 'film': 11729,
 'tracks': 31479,
 'divine': 9241,
 'leader': 17687,
 'international': 16008,
 'peace': 22651,
 'mission': 19931,
 'advocate': 1090,
 'anti': 1791,
 'lynching': 18543,
 'laws': 17642,
 'desegregation': 8578,
 'needed': 20811,
 'idea': 15153,
 'outdated': 21939,
 'patriarchal': 22568,
 'gender': 12848,
 ...}

In [20]:
tfidf.idf_

array([ 8.76595775,  5.81278509, 10.55771722, ..., 10.55771722,
       10.55771722, 10.55771722])

In [21]:
tfidf.get_feature_names()

c:\users\szilom_2\appdata\local\programs\python\python38\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['00',
 '000',
 '0000',
 '002',
 '00pm',
 '00s',
 '01',
 '010',
 '015',
 '02',
 '0235723',
 '03',
 '04',
 '040',
 '048',
 '05',
 '06',
 '067',
 '07',
 '08',
 '09',
 '098',
 '10',
 '100',
 '1000',
 '100b',
 '100k',
 '100th',
 '101',
 '1017',
 '102',
 '1021',
 '103',
 '1038',
 '10460',
 '105',
 '1050',
 '107th',
 '108',
 '109th',
 '10am',
 '10gen',
 '10k',
 '10s',
 '10th',
 '11',
 '110',
 '112',
 '113',
 '115',
 '116',
 '117',
 '118',
 '1181',
 '11th',
 '12',
 '120',
 '1200',
 '123',
 '123s',
 '124',
 '125',
 '129',
 '12pm',
 '12th',
 '13',
 '130',
 '1313',
 '132',
 '136',
 '137',
 '13th',
 '14',
 '140',
 '142',
 '143',
 '144',
 '145',
 '146th',
 '147',
 '1475',
 '148',
 '1492',
 '14days',
 '14th',
 '15',
 '150',
 '1500',
 '150th',
 '152',
 '153',
 '1546',
 '155',
 '156',
 '157',
 '158',
 '1599',
 '15th',
 '16',
 '160',
 '1612',
 '1615',
 '162',
 '1621',
 '1654',
 '167',
 '16th',
 '17',
 '170',
 '1700s',
 '1708',
 '171',
 '172',
 '1734',
 '175',
 '1750',
 '1782',
 '1793',
 '17th',
 '18',
 '180',
 '1800',
 '1800s',
 '1812',
 '1816',
 '182',
 '1820',
 '1825',
 '1830s',
 '1831',
 '1835',
 '184',
 '1840',
 '185',
 '1854',
 '1855',
 '1860s',
 '1864',
 '1867',
 '1868',
 '186f',
 '1880',
 '1880s',
 '1885',
 '1887',
 '1889',
 '189',
 '1890s',
 '1895',
 '18cm',
 '18th',
 '19',
 '190',
 '1900',
 '1900s',
 '1902',
 '1911',
 '1912',
 '1913',
 '1914',
 '1915',
 '1916',
 '1917',
 '1919',
 '1920',
 '1920s',
 '1924',
 '1927',
 '1928',
 '1929',
 '193',
 '1930',
 '1930s',
 '1931',
 '1932',
 '1933',
 '1934',
 '1937',
 '1939',
 '1940',
 '1940s',
 '1941',
 '1942',
 '1943',
 '1944',
 '1945',
 '1946',
 '1947',
 '1948',
 '1949',
 '1950',
 '1950s',
 '1951',
 '1952',
 '1953',
 '1954',
 '1955',
 '1956',
 '1958',
 '1959',
 '196',
 '1960',
 '1960s',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1970s',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '198',
 '1980',
 '1980s',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '199',
 '1990',
 '1990s',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '19th',
 '1st',
 '20',
 '200',
 '2000',
 '2000s',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2010s',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2020',
 '2022',
 '2024',
 '2025',
 '2029',
 '2030',
 '205',
 '2050',
 '208',
 '20s',
 '20th',
 '21',
 '210',
 '2117',
 '212',
 '2125',
 '213',
 '218',
 '21st',
 '22',
 '220',
 '225',
 '229',
 '22nd',
 '23',
 '230',
 '231',
 '233',
 '234',
 '235',
 '239',
 '2392',
 '23rd',
 '24',
 '240',
 '243',
 '245',
 '2491',
 '24th',
 '24x18',
 '25',
 '250',
 '254',
 '257',
 '259',
 '25th',
 '25x30',
 '26',
 '26th',
 '27',
 '270',
 '275',
 '276',
 '279',
 '279th',
 '28',
 '280',
 '28th',
 '29',
 '290',
 '29th',
 '2nd',
 '2pm',
 '2½',
 '30',
 '300',
 '3000',
 '300x400',
 '301',
 '307',
 '308',
 '30pm',
 '30s',
 '30th',
 '31',
 '31st',
 '32',
 '320',
 '323',
 '329',
 '32nd',
 '33',
 '330',
 '336',
 '34',
 '341',
 '3484',
 '35',
 '350',
 '353',
 '356',
 '357',
 '358',
 '35th',
 '36',
 '360',
 '364',
 '365',
 '366',
 '368',
 '36th',
 '37',
 '370',
 '375',
 '377',
 '37b',
 '38',
 '38th',
 '39',
 '395',
 '39th',
 '3d',
 '3rd',
 '40',
 '400',
 '4000',
 '401',
 '401k',
 '4057',
 '407',
 '40am',
 '40s',
 '40th',
 '41',
 '414',
 '415',
 '41st',
 '42',
 '421',
 '422',
 '427',
 '428',
 '42nd',
 '42west',
 '43',
 '430',
 '432',
 '4357',
 '44',
 '441',
 '44pm',
 '44th',
 '45',
 '450',
 '450th',
 '451',
 '45th',
 '46',
 '47',
 '475',
 '48',
 '485',
 '486',
 '489',
 '49',
 '49er',
 '49ers',
 '49th',
 '4cm',
 '4ft',
 '4i',
 '4s',
 '4sybrina',
 '4th',
 '4tn',
 '4x4',
 '50',
 '500',
 '5001',
 '500m',
 '50s',
 '50th',
 '51',
 '51am',
 '52',
 '523',
 '528',
 '529',
 '53',
 '534',
 '53rd',
 '54',
 '5454',
 '55',
 '550',
 '5501',
 '552',
 '555',
 '556',
 '557',
 '558',
 '56',
 '568',
 '56th',
 '57',
 '570',
 '58',
 '581',
 '588',
 '58th',
 '59',
 '594',
 '59e59',
 '59th',
 '5bn',
 '5c',
 '5cm',
 '5k',
 '5th',
 '5thingsifindattractive',
 '5x',
 '60',
 '600',
 '6000',
 '60s',
 '60th',
 '61',
 '610',
 '62',
 '620',
 '632',
 '64',
 '640',
 '65',
 '65750',
 '65th',
 '66',
 '660',
 '662',
 '67',
 '675',
 '68',
 '68th',
 '68x55',
 '69',
 '690',
 '691',
 '6gw',
 '6pm',
 '6s',
 '6th',
 '70',
 '700',
 '707',
 '709',
 '70candles',
 '70s',
 '70th',
 '71',
 '72',
 '720',
 '722',
 '72andsunny',
 '73',
 '730',
 '739',
 '73rd',
 '74',
 '740',
 '747',
 '74th',
 '75',
 '750',
 '7529',
 '75th',
 '76',
 '762',
 '77',
 '770',
 '774',
 '77th',
 '78',
 '787',
 '788',
 '79',
 '793',
 '794',
 '798',
 '79th',
 '7news',
 '7s',
 '7th',
 '80',
 '800',
 '8000',
 '80s',
 '80th',
 '80x80',
 '81',
 '82',
 '821',
 '82nd',
 '83',
 '830',
 '84',
 '843',
 '8477',
 '84th',
 '85',
 '850',
 '852',
 '86',
 '87',
 '88',
 '880',
 '881',
 '887',
 '88th',
 '89',
 '895',
 '8a',
 '8p',
 '8pm',
 '8th',
 '90',
 '900',
 '90210',
 '90s',
 '91',
 '911',
 '918',
 '91st',
 '92',
 '92nd',
 '93',
 '94',
 '940',
 '94th',
 '95',
 '96',
 '963',
 '97',
 '979',
 '98',
 '980bn',
 '984',
 '99',
 '9mm',
 '9th',
 '9to5',
 '9to5google',
 '___',
 '____',
 '_____',
 'a320',
 'a380',
 'aaas',
 'aapi',
 'aapis',
 'aardvarks',
 'aardwolves',
 'aarhus',
 'aaron',
 'aarp',
 'aau',
 'ab',
 'ab32',
 'aba',
 'aback',
 'abad',
 'abadiania',
 'abandon',
 'abandoned',
 'abandoning',
 'abandonment',
 'abbas',
 'abbe',
 'abbey',
 'abbotsbury',
 'abbott',
 'abbotts',
 'abbreevs',
 'abby',
 'abc',
 'abcs',
 'abd',
 'abdel',
 'abdeslam',
 'abdication',
 'abdomen',
 'abdominal',
 'abducted',
 'abducting',
 'abductor',
 'abdul',
 'abdulaziz',
 'abdulhai',
 'abdullah',
 'abe',
 'abel',
 'abercrombie',
 'aberdeen',
 'abergel',
 'abet',
 'abetting',
 'abhor',
 'abhorrent',
 'abid',
 'abide',
 'abiding',
 'abigail',
 'abilities',
 'ability',
 'abject',
 'abjectness',
 'ablan',
 'ablaze',
 'able',
 'ablism',
 'abnormal',
 'abnormally',
 'aboard',
 'abode',
 'abolished',
 'abolitionist',
 'abominations',
 'abort',
 'aborted',
 'aborting',
 'abortion',
 'abortions',
 'abound',
 'abounded',
 'abounding',
 'abouyaaqoub',
 'abraham',
 'abrahamian',
 'abrams',
 'abramson',
 'abrasive',
 'abreast',
 'abridged',
 'abroad',
 'abrupt',
 'abruptly',
 'abs',
 'absence',
 'absences',
 'absent',
 'absenteeism',
 'absolute',
 'absolutely',
 'absolutes',
 'absolve',
 'absolves',
 'absorb',
 'absorbed',
 'absorbent',
 'absorbing',
 'absorption',
 'abstain',
 'abstract',
 'abstraction',
 'absurd',
 'absurdist',
 'absurdity',
 'absurdly',
 'abu',
 'abuela',
 'abukar',
 'abundance',
 'abundant',
 'abundantly',
 'abuse',
 'abused',
 'abuser',
 'abusers',
 'abuses',
 'abusing',
 'abusive',
 'abuzz',
 'abyad',
 'abysmal',
 'abyss',
 'ac',
 'aca',
 'acacia',
 'academia',
 'academic',
 'academically',
 'academics',
 'academies',
 'academy',
 'acadian',
 'acapulco',
 'acc',
 'accademia',
 'acceding',
 'accelerate',
 'accelerated',
 'accelerates',
 'accelerating',
 'acceleration',
 'accelerator',
 'accent',
 'accented',
 'accents',
 'accentuate',
 'accept',
 'acceptable',
 'acceptably',
 'acceptance',
 'accepted',
 'accepting',
 'accepts',
 'access',
 'accessed',
 'accessibility',
 'accessible',
 'accessing',
 'accession',
 'accessories',
 'accessorize',
 'accessorizing',
 'accessory',
 'accident',
 'accidental',
 'accidentally',
 'accidents',
 'acclaim',
 'acclaimed',
 'accolades',
 'accommodate',
 'accommodates',
 'accommodation',
 'accommodations',
 'accompanied',
 'accompanies',
 'accompaniment',
 'accompany',
 'accompanying',
 'accompli',
 'accomplice',
 'accomplices',
 'accomplish',
 'accomplished',
 'accomplishes',
 'accomplishment',
 'accomplishments',
 'accord',
 'accordian',
 'according',
 'accordingly',
 'accordionists',
 'accordions',
 'account',
 'accountability',
 'accountable',
 'accountant',
 'accountants',
 'accounted',
 'accounting',
 'accounts',
 'accoutrement',
 'accoutrements',
 'accra',
 'accreditation',
 'accreditor',
 'accrued',
 'accumulate',
 'accumulated',
 'accumulates',
 'accumulation',
 'accuracy',
 'accurate',
 'accurately',
 'accusation',
 'accusations',
 'accusatory',
 'accuse',
 'accused',
 'accuser',
 'accusers',
 'accuses',
 'accusing',
 'accustomed',
 'accute',
 'accuweather',
 'ace',
 'aced',
 'acevedo',
 'achatz',
 'ache',
 'aches',
 'acheson',
 'achievable',
 'achieve',
 'achieved',
 'achievement',
 'achievements',
 'achievers',
 'achieves',
 'achieving',
 'achilles',
 'aching',
 'acid',
 'acidification',
 'acknowledge',
 'acknowledged',
 'acknowledgement',
 'acknowledges',
 'acknowledging',
 'acknowledgment',
 'acl',
 'aclu',
 'acm',
 'acosta',
 'acquaintance',
 'acquaintances',
 'acquainted',
 'acquiescence',
 'acquire',
 'acquired',
 'acquiring',
 'acquisition',
 'acquittal',
 'acquitted',
 'acre',
 'acres',
 'acrimony',
 'acrobat',
 'acrobats',
 'acrylic',
 'act',
 'acted',
 'acting',
 'action',
 'actions',
 'activate',
 'activated',
 'active',
 'actively',
 'activision',
 'activism',
 'activist',
 'activists',
 'activities',
 'activity',
 'actor',
 'actors',
 'actress',
 'actresses',
 'acts',
 'actual',
 'actuality',
 'actually',
 'acumen',
 'acuna',
 'acupuncture',
 'acurio',
 'acute',
 'acutely',
 'ad',
 'ada',
 'adage',
 'adam',
 'adamant',
 'adamo',
 'adams',
 'adani',
 'adapt',
 'adaptability',
 'adaptable',
 'adaptation',
 'adaptations',
 'adapted',
 'adapter',
 'adapting',
 'add',
 'addario',
 'addax',
 'added',
 'adderall',
 'addict',
 'addicted',
 'addicting',
 'addiction',
 'addictions',
 'addictive',
 'addicts',
 'adding',
 'addition',
 'additional',
 'additionally',
 'additives',
 'address',
 'addressed',
 'addresses',
 'addressing',
 'adds',
 'adduced',
 'adelaide',
 'adele',
 'adelie',
 'adelsteen',
 'adept',
 'adequate',
 'adequately',
 'adhd',
 'adhere',
 'adherence',
 'adhering',
 'adhesive',
 'adichie',
 'adidas',
 'adieu',
 'adirondacks',
 'adjacent',
 'adjectives',
 'adjourned',
 'adjudicate',
 'adjust',
 'adjustable',
 'adjusted',
 'adjusting',
 'adjustment',
 'adjustments',
 'adjusts',
 'adler',
 'administer',
 'administered',
 'administering',
 'administers',
 'administration',
 'administrations',
 'administrative',
 'administrator',
 'administrators',
 ...]

In [22]:
print(X_train_numeros.shape)

(28306, 34540)

In [23]:
pd.DataFrame.sparse.from_spmatrix(X_train_numeros,index=X_train.index,columns=tfidf.get_feature_names())

,00,000,0000,002,00pm,00s,01,010,015,02,...,животные,за,зоопарка,из,на,новость,отсутствия,плохая,финансирования,харьковского
9982,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34910,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14214,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20248,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13244,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20757,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32103,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30403,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21243,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2732,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Modelo a usar SVM

In [24]:
from sklearn.svm import SVC
svc = SVC()
svc.fit(X_train_numeros, y_train)

SVC()

In [25]:
print(svc.predict(tfidf.transform(['In one text message, Jacqueline Ades allegedly told her date she d like to bathe in his blood.'])))
print(svc.predict(tfidf.transform(['A nasty primary race has made the congressional candidate tell the difficult story of escaping her violent ex-husband'])))
print(svc.predict(tfidf.transform(['The five-time all-star center tore into his teammates Friday night after Orlando committed 23 turnovers en route to losing'])))
print(svc.predict(tfidf.transform(['Maria married the best singer in the United States'])))
print(svc.predict(tfidf.transform(['american football game in mexico'])))
print(svc.predict(tfidf.transform(['E-cigarettes are also dangerous. The WHO revealed that the smoke produced by these devices is as unhealthy as the one that comes from common cigarettes'])))

['CRIME']
['DIVORCE']
['ENTERTAINMENT']
['LATINO VOICES']
['SPORTS']
['HEALTHY LIVING']

In [26]:
#Realizando predicciones
y_predsvc=svc.predict(X_test_numeros[0:1000])

In [27]:
#sklearn tiene una funcion para generar la matriz de confusion en sklearn.mestrics
from sklearn.metrics import confusion_matrix
cmsvc=confusion_matrix(y_test[0:1000],y_predsvc)
print(cmsvc)

[[18  0  0 ...  0  0  0]
 [ 2  4  0 ...  0  0  0]
 [ 1  0  6 ...  1  0  0]
 ...
 [ 0  0  0 ...  5  0  0]
 [ 0  0  0 ...  0  6  3]
 [ 0  2  0 ...  2  3 12]]

In [28]:
from sklearn.metrics import f1_score
f1scoresvc = f1_score(y_test[0:1000],y_predsvc, average = 'macro')
print("F1-score: ",f1scoresvc)

F1-score:  0.33433427447905395

In [29]:
from sklearn.metrics import precision_score
precisionsvc = precision_score(y_test[0:1000],y_predsvc, average ='macro')
print("Precision: ",precisionsvc)

Precision:  0.3678590257081796

In [30]:
from sklearn.metrics import accuracy_score
print("Accuracy_score:", accuracy_score(y_test[0:1000],y_predsvc))

Accuracy_score: 0.328

In [31]:
# ver cual es el score antes de guardar el modelo para despues ver si cuando se cargue de nuevo sigue siendo el mismo.
svc.score(X_test_numeros, y_test)

0.3117140031086619

## Guardar modelo entrenado.

In [32]:
import joblib
joblib.dump(svc, 'modelo_entrenado_svc.pkl') # Guardo el modelo.

['modelo_entrenado_svc.pkl']